body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1e293b;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
}

button {
  background: #22c55e;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: #111827;
  padding: 15px;
  display: none;
}
